/*
 * Black bar with logo
 */

.EastBoston_nav {
    background-color: black;
    height: 55px;
    background-image: url(./images/EastBoston_logo_final.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 36px;
    position:fixed;
    z-index: 1000;
    width: 100vw;

}

#menuToggle
{
    display: block;
    position: relative;
    top: 18px;
    left: 20px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    opacity: 0.9;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

ul#menu li
{
    font-family: "GrifoL-Bold","Georgia",serif;
    padding: 10px 0;
    font-size: 22px;
    border-bottom: solid 1px #999;
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
    transform: none;
}

/* Basic text styles for The Margina
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

h1.EastBoston_head {
    font-family: "GrifoL-Bold","Georgia",serif;
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2.EastBoston_head {
    font-family: "GrifoL-Bold","Georgia",serif;
    font-size: 3.4rem;
    line-height: 3.6rem;
    color:#666;
    margin-top: -1rem;
}

h5.EastBoston_byline {
    font-family: "BentonSansCond-Bold","Helvetica-Bold",sans-serif;
    font-size: 1.6rem;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

div.EastBoston p {
    font-family: "BentonSansCond-Regular","Helvetica",sans-serif;
    font-size: 2.8rem;
    line-height: 3rem;
}

/*a   {*/
    /*text-decoration: none;*/
    /*border-bottom: 1px orangered solid;*/
    /*color: #232323;*/
    /*padding-bottom: 2px;*/
    /*transition: color 0.3s ease;*/
/*}*/

a:visited {
    color:black;
}

a:hover {
    color: orangered;
}

a:active {
    color: orangered;
}




/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

h6.EastBoston_footer {
    font-family: "GrifoL-Bold","Georgia",serif;
    font-size: 1rem;
    color: #666;
    text-transform: none;
    text-align: center;
    letter-spacing: 0;
    padding: 10px;
    /*position: absolute;*/
    /*bottom: 10px;*/
    margin:auto;
}

.x-large {
    font-size: 36px;
    font-family:"GrifoL-Bold","Georgia",serif;
    font-weight: 200;
    font-style: normal;
    color: #FFFFFF;
}
.mediumspecial {
    font-family: "BentonSansCond-Regular","Helvetica",sans-serif;
    font-size:1.8rem;
    line-height: 2.3rem;
    color:#080808;

}





.medium {
    font-family: "BentonSansCond-Regular","Helvetica",sans-serif;
    font-size:18px;
    line-height: 2rem;
    /*font-size:24px;*/
    /*font-family:sans-serif;*/
    color:#080808;

}
.small {
    font-size:1.2rem;
    line-height: 1.5rem;
    font-family:"BentonSansCond-Regular";
    color: #FFFFFF;
    text-align:left;
}

.orangeSpan{
    color:#BC5148;
    font-size:30px;
    font-family:"BentonSansCond-Bold";
}


.SmallSpan{
    color:#3F72AF;
    font-size:30px;
    font-family:"BentonSansCond-Regular";
}


#fp-nav.right{
    right:25px;
}


.section {
    /*text-align:center;*/
    font-size: 4em;
    max-height: 100vh;
}



#bubbletalk{
    height: 200px;
    display:block;
    width:100%;
}

#Map{
    width: 100vw;
    height: 100vh;
    z-index:0;
}

img.bostonImg{
    width:80%;
}

.retail{
    color: #1e7e34;
    opacity: 0.8;
}

.shop1{
    color:#3090A1;
    opacity: 0.8;
}



.retail{
    color:#3090A1;
}


.streetlight{
    color:#DE561C;
}

div#section1{
    background-image: url("./images/East-Boston-Master-Plan_afterBW.jpg");
    background-size: cover;
}


div#infoPanel{
    font-weight: 200;
    line-height: 150%;
    margin: 5px 0px 25px;
    display: block;
}

div#infoPanel2{
    font-weight: 200;
    line-height: 50%;
    margin: 30px 0px 25px;
    display: block;
}


div#info{
    position: absolute;
    z-index:100;
    Top: 140px;
    left: 20px;
    width: 265px;
    padding:8px 2px 2px 8px;
    height:560px;
    background-color:#a6b5bd;
    border: 1px solid #cdcdcd;
}
div.EastBoston_byline.leafletTitle{
    width:100%;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.claimSteps {
    width: 285px;
    height: 285px;
    background-color: #2dccd3;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: table;
}
.bg-shape{
    padding:10px;
    background-color: #2dccd3;
    margin-bottom: 10px;
}

.more-link{
    text-decoration: underline;
    font-size:10px;
    font-family:"BentonSansCond-Regular";
}
.inner-title{
    padding-top: 90px;
    padding-bottom: 20px;
}

.inner-title2{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    line-height: 2.0rem;
}

.inner-title3{
    padding-top:45px;
    padding-bottom: 20px;
    font-size: 1.8rem;
    line-height: 2.0rem;
    font-family:"BentonSansCond-Bold";
    text-align:left;

}

.center-text{
    text-align:center;
}
.pop-icon{
    float: left;
    width: 45%;
    margin-right: 2px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.blockp{
    display: inline-block;
    font-size: 0.9rem;
}
.bgWhite{
    background-color: rgba(255, 255, 255, 0.7);
}
.leaflet-top.leaflet-left{
    margin-top: 70px;
}

#barChart{
    width: 100%;
    min-height: 300px;
    z-index:0;
    text-align: right;
    padding: 3px;
    margin: 1px;
}
.label{
    font-family: "BentonSansCond-Bold", "Helvetica-Bold";
    font-size: 16px;
}
.icons{
    margin-top:10px;
    font-size: 1rem;
}
.leaflet-icon{
    width: 40px;
    height: 40px;
}
.leaflet-popup-content-wrapper{
    background: rgba(255, 255, 255, 0.6);
}
.leaflet-popup-content.pop-title{
    font-size: 20px;
}
.footer-div{
    align-content: center;
    border-top: 1px solid #666;

}

.small-black{
    font-size:1rem;
    line-height: 1.3rem;
    font-family:"BentonSansCond-Bold";
    color:#000000;
    text-align:left;
}